<?xml version="1.0" encoding="utf-8"?>
<configuration>

<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1"/></startup><system.serviceModel>
    <bindings>
      <wsHttpBinding>
        <binding name="CustomBinding_IPersonService">
          <security mode="TransportWithMessageCredential">
            <transport clientCredentialType="None" />
            <message clientCredentialType="UserName" />
          </security>
        </binding>
      </wsHttpBinding>
    </bindings>
    <client>
      <endpoint address="https://personregister-web.test.nhn.no/Personregister.WCF/PersonService.svc"
        binding="wsHttpBinding" bindingConfiguration="CustomBinding_IPersonService"
        contract="PersonService.IPersonService" name="CustomBinding_IPersonService">
        <identity>
          <dns value="personregister-web.test.nhn.no" />
        </identity>
      </endpoint>
    </client>
  </system.serviceModel>
</configuration>
